<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#NowPlaying</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="dist/img/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="dist/css/bootstrap.css" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section class="jumbotron rock-bg" ng-controller="ShareController">
      <h1 class="text-center" id="head-title">#NowPlaying</h1>
      <h2 class="text-center tx-wh" id="slogan"><i>'Cause everyone is having a personal concert right now.</i></h2>
      <h3 class="text-center" id="share-title"><i class="fa fa-headphones"></i> Share yours:</h3>
      <input type="text" class="cool-input" placeholder="Enter youtube url" ng-model="youtube">
      <textarea name="comment" placeholder="Enter your comment (ex. My first song working for bunny.inc)" id="comment" cols="70" rows="2" class="cool-text" ng-model="comment"></textarea>
      <a href="javascript:void(0);" role="button" class="btn btn-info center-btn" ng-click="postTweet();" id="tweet-cta"><i class="fa fa-twitter"></i> Tweet to #nowplaying</a>
      <a href="#title-tweets" class="text-muted tx-link-center" id="go-to-tweets">... or WATCH other personal concerts <br/><i class="fa fa-chevron-circle-down"></i></a>
      <div class="clearfix"></div>
    </section>
    <section id="tweets" ng-controller="TweetsController">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
            <h2 class="text-success text-center" id="title-tweets">#NowPlaying Latest Personal Concerts:</h2>
              <div id="tw-container">
                <div class="panel panel-default hide" id="template">
                <div class="panel-body">
                  <!--Urls doesnt have a title <h3></h3>-->
                  <div class="col-md-7">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="" allowfullscreen class="embed-responsive-item"></iframe>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <picture class="col-xs-3 col-md-2 no-pad-l-r">
                      
                    </picture>
                    <div class="col-xs-6 col-md-7"><h5 class="user-name">John Doe</h5><a href="http://www.twitter.com" class="username">@johndoe</a> </div>
                    <div class="col-xs-3 col-md-3">
                      <a href="" class="follow"><i class="fa fa-twitter"></i> Follow</a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="tw-p"></p>
                    <span class="col-xs-4 text-left no-pad-left date-stamp" ></span>
                    <div class="col-xs-8 text-right no-pad-">
                      <a href=""><i class="fa fa-reply"></i> Reply  </a>
                      <a href=""><i class="fa fa-retweet"></i> Retweet  </a>
                      <a href=""><i class="fa fa-star"></i> Favorite  </a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
                          <div id="prefetcher">
              <i class="fa fa-spin fa-spinner"></i>
              Fetching Tweets...
            </div>
            <!--This button is util as a fallback to the scroll and as a trigger-->
            <a href="javascript:voi(0);" class="btn btn-info center-btn" ng-click="reconnect();" id="watch-more">Watch More...</a>
          </div>
        </div>
      </div>
    </section>
    <script src="bower_components/requirejs/require.js" data-main="js/main.js">
    </script>
  </body>
</html>