<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#NowPlaying</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="dist/img/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="dist/css/bootstrap.css" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body >
    <section class="jumbotron rock-bg" ng-controller="ShareController">
      <h1 class="text-center" id="head-title">#NowPlaying</h1>
      <h2 class="text-center tx-wh" id="slogan"><i>'Cause everyone is having a personal concert right now.</i></h2>
      <h3 class="text-center" id="share-title"><i class="fa fa-headphones"></i> Share yours:</h3>
      <input type="text" class="cool-input" placeholder="Enter youtube url" ng-model="youtube">
      <textarea name="comment" placeholder="Enter your comment (ex. My first song working for bunny.inc)" id="comment" cols="70" rows="2" class="cool-text" ng-model="comment"></textarea>
      <a href="javascript:void(0);" role="button" class="btn btn-info center-btn" ng-click="postTweet();" id="tweet-cta"><i class="fa fa-twitter"></i> Tweet to #nowplaying</a>
      <a href="#title-tweets" class="text-muted tx-link-center" id="go-to-tweets">... or WATCH other personal concerts <br/><i class="fa fa-chevron-circle-down"></i></a>
      <div class="clearfix"></div>
    </section>
    <section id="tweets" ng-controller="TweetsController">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
            <h2 class="text-success text-center" id="title-tweets">#NowPlaying Latest Personal Concerts:</h2>

          </div>
        </div>
      </div>
    </section>
    <script src="bower_components/requirejs/require.js" data-main="js/main.js">
    </script>
  </body>
</html>