    <!--container de chat entrante-->
    <div ng-if="!me.fields.rsent_by_student" id="incoming-chat" class="wg_brd">
                <div class="pointer blue wg_m mr_5"></div>
        <p class="wg_p cl_1 tx-mn wg_d inline_b wg_c_p pr_10">{$ tutor_name $}</p>
        <p class="wg_p cl_7 tx-mn wg_d inline_b">{$ un.fields.date_sent | date:"EEEE d 'de' MMMM" $}</p>
        <p class="wg_p cl_1 tx-mn wg_c_p pt_20 wg_lh lh_19 wg_m ml_15">{$ un.fields.message $}</p>
    </div>
    <div ng-if="me.fields.sent_by_student" id="outcoming-chat" class="wg_brd">
                <div class="pointer blue wg_m mr_5"></div>
        <p class="wg_p cl_1 tx-mn wg_d inline_b wg_c_p pr_10">{$ student_name $} </p>
        <p class="wg_p cl_7 tx-mn wg_d inline_b">{$ un.fields.date_sent | date:"EEEE d 'de' MMMM" $}</p>
        <p class="wg_p cl_1 tx-mn wg_c_p pt_20 wg_lh lh_19 wg_m ml_15">{$ un.fields.message $}</p>
    </div>
